/* styles for validation helpers */
.field-validation-error {
    color: #fff;
    background-color: #d9534f;
    border-radius: 1px;
    font-size: 12px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-valid {
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.quick-search { 
    position: fixed;
    z-index: 9999;
    margin-top: -20px;
    margin-left: 70%;
    width: 30%;
}